@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries



/* -------------------------------- 

xNavigation 

-------------------------------- */
#navigation{
  background-color: #616161;
  display: flex;
  flex-direction: column;
 
}

.cd-primary-nav{
  
  background-color:transparent;
  border: 3px solid black;
  text-align: center;
  width: 100%; 
  height: 200px; 
  background-image: url(https://www.bing.com/th?id=OIP.jLVU0CxWfkqw7R1-0z02vQHaE7&pid=Api&rs=1);
  background-size: cover;
  position: sticky;
}
.cd-primary-nav li{
  display:inline-block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  &:hover{
    background-color:  rgba(0, 0, 0, 0.2);
    font-size: 35px;
  }
}
.cd-primary-nav li a{
  font-family: 'Courier New', Courier, monospace;
  font-weight:lighter;
  &:hover{
    color:#19191a;
  }
  &:active{
    color: $color-4;
  }
  &:visited{
    color: $color-5;
  }
}
.cd-secondary-nav{
  
  height: 50px;
  background-color: rgb(206, 206, 206);
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 20px;
}
.cd-secondary-nav li{
  display:inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  &:hover{
    background-color:  rgba(248, 248, 248, 0.8);
    ;
  }
}
.cd-secondary-nav li a{
  &:hover{
    color:#19191a;
  }
}
.cd-secondary-nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

header {
  background-color: $color-2;
}

.cd-logo {
  /* logo box style */
  background-color: $color-1;
  width: 120px;

  @include MQ(M) {
    width: 180px;
  }
}
a{
  &:hover{
    color:#19191a;
  }
  &:active{
    color: $color-4;
  }
  &:visited{
    color: $color-5;
  }
}
.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: $color-2;

  li a {
    color: $color-5;
    border-color: lighten($color-2, 5%);
  }

  @include MQ(M) {
    li a {
      color: lighten($color-2, 40%);

      &.selected {
        color: $color-5;
        box-shadow: 0 2px 0 $color-1;
      }

      &:hover {
        color: #e6e6e6;
      }
    }
  }
}

.cd-nav-trigger span {
  /* hamburger menu */
  background-color: $color-5;

  &::before,
  &::after {
    /* upper and lower lines */
    background-color: $color-5;
  }
}

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba($color-5, 0);

  &::before,
  &::after {
    /* preserve visibility of upper and lower lines - close icon */
    background-color: rgba($color-5, 1);
  }
}

.cd-download {
  /* download button top-right visible on big devices */
  background-color: lighten($color-2, 10%);

  .no-touch &:hover {
    background-color: lighten($color-2, 15%);
  }

  span {
    /* tooltip */
    background: $color-1;
    color: $color-5;

    &::before {
      /* right arrow color */
      border-color: $color-1;
    }
  }
}

